# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.sqlite3
venv/
.env

# Django
media/
staticfiles/

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/

# Misc
*.log
Thumbs.db
.DS_Store