
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Presento Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="../../static/main/assets/img/favicon.png" rel="icon">
  <link href="../../static/main/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/main/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/main/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/main/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/main/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/main/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../../static/main/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Presento
  * Template URL: https://bootstrapmade.com/presento-bootstrap-corporate-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/admin_home_page" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">SmartLab</h1>
        <span>.</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/admin_home_page" class="active">Home<br></a></li>
          <li><a href="/admin_view_dept#stats">Department</a></li>
          <li><a href="/admin_view_course#stats">Course</a></li>
{#          <li><a href="/admin_view_subject">Subject</a></li>#}
{#          <li><a href="/">Lab</a></li>#}
{#          <li><a href="/">Assigned Lab</a></li>#}
          <li><a href="/admin_view_lab_assistant#stats">Lab Assistant</a></li>
          <li><a href="/admin_view_exam_schedule#stats">Exam </a></li>
          <li><a href="/admin_view_system_details#stats">System Details</a></li>
          <li><a href="/admin_view_student#stats">Student</a></li>
          <li><a href="/admin_view_staff#stats">Staff</a></li>
{#          <li><a href="/admin_subject_allocation">Subject Allocation</a></li>#}

            <li><a href="/admin_view_complaint#stats">Complaint</a></li>
          <li class="dropdown"><a href="#"><span>Lab</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>

                  <li><a href="/admin_view_lab#stats">View</a></li>
                  <li><a href="/admin_view_assigned_lab#stats">Assigned</a></li>


            </ul>
          </li>
            <li class="dropdown"><a href="#"><span>Subject</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>

                  <li><a href="/admin_view_subject#stats">View</a></li>
                  <li><a href="/admin_subject_allocation#stats">Allocation</a></li>


            </ul>
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="/">Logout</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="../../static/main/assets/img/bla.jpg" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2 data-aos="fade-up" data-aos-delay="100">Precision Monitoring For Productive Labs</h2>
            <p data-aos="fade-up" data-aos-delay="200">"Real-Time Insights, Real-Time Efficiency."</p>
            <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
{#              <a href="#about" class="btn-get-started">Get Started</a>#}
{#              <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>#}
            </div>

          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- Clients Section -->
    <section id="clients" class="clients section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          </script>
{#          <div class="swiper-wrapper align-items-center">#}
{#            <div class="swiper-slide"><img src="../../static/main/assets/img/clients/client-1.png" class="img-fluid" alt=""></div>#}
{#            <div class="swiper-slide"><img src="../../static/main/assets/img/clients/client-2.png" class="img-fluid" alt=""></div>#}
{#            <div class="swiper-slide"><img src="../../static/main/assets/img/clients/client-3.png" class="img-fluid" alt=""></div>#}
{#            <div class="swiper-slide"><img src="../../static/main/assets/img/clients/client-4.png" class="img-fluid" alt=""></div>#}
{#            <div class="swiper-slide"><img src="../../static/main/assets/img/clients/client-5.png" class="img-fluid" alt=""></div>#}
{#            <div class="swiper-slide"><img src="../../static/main/assets/img/clients/client-6.png" class="img-fluid" alt=""></div>#}
{#            <div class="swiper-slide"><img src="../../static/main/assets/img/clients/client-7.png" class="img-fluid" alt=""></div>#}
{#            <div class="swiper-slide"><img src="../../static/main/assets/img/clients/client-8.png" class="img-fluid" alt=""></div>#}
{#          </div>#}
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Clients Section -->

{#    <!-- About Section -->#}
{#    <section id="about" class="about section section-bg dark-background">#}
{##}
{#      <div class="container position-relative">#}
{#<div align="center">#}
{#        {% block body %}#}
{#{% endblock %}#}
{#</div>#}
{#      </div>#}
{##}
{#    </section><!-- /About Section -->#}

<section id="stats" class="stats section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

       <div align="center">
           {% block body %}
           {% endblock %}
       </div>

      </div>

    </section><!-- /Stats Section -->


  </main>

  <footer id="footer" class="footer dark-background">


    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Presento</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a href=“https://themewagon.com>ThemeWagon
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../static/main/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/main/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../static/main/assets/vendor/aos/aos.js"></script>
  <script src="../../static/main/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/main/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/main/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../../static/main/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../../static/main/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="../../static/main/assets/js/main.js"></script>

</body>

</html>