<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css">
<!--
.style1 {color: #FF0000}
-->
</style></head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><label>Home </label></td>
    </tr>

{#    <tr>#}
{#      <td><a href="admin_add_department">Add Department</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/lab_assistant_add_lab_subject">Add Lab subject</a></td>#}
{#    </tr>#}
{#       #}
{#    <tr>#}
{#      <td><a href="/lab_assistant_add_lab_subject">View Lab subject</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/staff_add_reply">Add Reply</a></td>#}
{#    </tr>#}
      <tr>
      <td><a href="/staff_add_student">Add Student </a></td>
{##}   </tr>
      <tr>
      <td><a href="/staff_view_student">View Student </a></td>
    </tr>

    <tr>
      <td><a href="/staff_view_allocated_subject">View Allocated subject</a></td>
    </tr>

    <tr>
      <td><a href="/ staff_view_complaints">View Complaints</a></td>
    </tr>
{#    <tr>#}
{#      <td><a href="#">View Allocate</a></td>#}
{#    </tr><tr>#}
{#      <td><a href="/admin_assign_lab">Add Assigned Lab</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/lab_assistant_view_allocated_lab">View Allocated Lab</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">Lab Allocation To Staff</a></td>#}
{#    </tr>#}
{#      <tr>#}
{#       <td><a href="#">View Allocated Lab and Subject to staff</a></td>#}
{#      </tr>#}
{#      <tr>#}
{#      <td><a href="#">Add Exam Schedule</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="/staff_view_exam_schedule">View Exam Schedule</a></td>
    </tr>



{#    <tr>#}
{#      <td><a href="#">View Subject </a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/admin_add_student">Add Student</a></td>#}
{#    </tr>#}
   <tr>
      <td height="47"><a href="#">
        <label></label>
        </a><a href="#">
        <label>        </label>
        </a>
        <label>
        <div align="center"><a href="#">
          <input type="submit" name="Submit" value="Logout" />
          </a>
        </div>
        </label>
      <a href="#"></a><a href="#">        </a></td>
    </tr>
  </table>
</form>
</body>
</html>
