<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css">
<!--
.style1 {color: #FF0000}
-->
</style></head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><label>Home </label></td>
    </tr>
    
{#    <tr>#}
{#      <td><a href="admin_add_department">Add Department</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="admin_view_dept">View Department</a></td>
    </tr>

    <tr>
      <td><a href="/admin_view_course">View Course</a></td>
    </tr>

    <tr>
      <td><a href="/admin_view_subject">View Subject</a></td>
    </tr>
    <tr>
      <td><a href="/admin_view_lab">View Lab</a></td>
{#    </tr><tr>#}
{#      <td><a href="/admin_assign_lab">Add Assigned Lab</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="/admin_view_assigned_lab">View Assigned Lab</a></td>
    </tr>
    <tr>
{#      <td><a href="#">Lab Allocation To Staff</a></td>#}
    </tr>
      <tr>
       <td><a href="/admin_view_lab_assistant">View Lab Assistant</a></td>
      </tr>
      <tr>
{#      <td><a href="#">Add Exam Schedule</a></td>#}
    </tr>
    <tr>
      <td><a href="/admin_view_exam_schedule">View Exam Schedule</a></td>
    </tr>
    <tr>
      <td><a href="/admin_view_system_details">View System Details </a></td>
    </tr>
{#      <tr>#}
{#      <td><a href="#">Add Subject </a></td>  #}
{##}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="#">View Subject </a></td>#}
{#    </tr>#}
    <tr>
{#      <td><a href="/admin_add_student">Add Student</a></td>#}
    </tr>
    <tr>
      <td><a href="/admin_view_student">View Student</a></td>
    </tr>
    <tr>
{#      <td><a href="#">Add Staff</a></td>#}
    </tr>
    <tr>
      <td><a href="/admin_view_staff">View Staff</a></td>
    </tr>
    <tr>
      <td><a href="/admin_subject_allocation">Subject Allocation </a></td>
    </tr>
    <tr>
      <td><a href="/admin_view_complaint">View Complaint </a></td>
    </tr>
    <tr>
{#      <td><a href="#">Add Reply</a></td>#}
    </tr>
    
    <tr>
{#      <td><a href="#">View Reply  </a></td>#}
    </tr>
    <tr>
      <td height="47"><a href="#">
        <label></label>
        </a><a href="#">
        <label>        </label>
        </a>
        <label>
        <div align="center"><a href="#">
          <input type="submit" name="Submit" value="Logout" />
          </a>
        </div>
        </label>
      <a href="#"></a><a href="#">        </a></td>
    </tr>
  </table>
</form>
</body>
</html>
